<div class="card">
  <%# link_to image_tag prototype_path(prototype.id), class: :card__img%>
   <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype) %>
  <%# link_to image_tag prototype.image, class: :card__img %>
  <div class="card__body">
   <%# link_to "プロトタイプのタイトル", prototype_path(prototype), class: :card__title%>
    <%# link_to prototype.title, root_path, class: :card__title%>
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
     <%# "プロトタイプのキャッチコピー" %>
    <%# link_to prototype.catch_copy, root_path, class: :card__catcy_copy%>
<%= link_to prototype.catch_copy, prototype_path(prototype), class: :card__catcy_copy%>
    </p>
    <%# link_to "by プロトタイプの投稿者名", root_path, class: :card__user %>
    <%= link_to prototype.user.name, prototype_path(prototype), class: :card__catcy_user%>
  </div>
</div>